# API Configuration
# Set this to your API Gateway URL
NEXT_PUBLIC_API_URL=http://localhost:9400

# API Logging
# Set to "true" or "1" to enable API request/response logging in console (includes cURL commands)
# Set to "false" or "0" to disable logging
NEXT_PUBLIC_API_LOG_ENABLED=false

